@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vh: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  overflow-x: hidden;
}

@supports (-webkit-touch-callout: none) {
  @media not all and (min-resolution: 0.001dpcm) {
    .safari-hero-offset {
      margin-top: 40px; /* or padding-top, adjust this */
    }
  }
}
